

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('images/background-image.avif');
}
  

.size-button {
    display: block;
    font-size: 20px;
    margin: 10px auto;
    height: 40px;
    width: 120px;
    border-radius: 5px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    width: 800px;
    height: 800px;
    --size: 16; /*  default value for the size */
  
}

.items {
    box-sizing: border-box;
    width: calc(800px/var(--size));
    height: calc(800px/var(--size));
    border: 1px solid rgb(26, 22, 14); 
}

